
.contenedor1{
    display: flex;
    align-items: center;
}

#enemigo1{
    width: 12vw; height: 18%;
    margin-left: 20vw; margin-top: 10%;
}
#txtEnemigo1{
    margin-left: 2%; margin-right: 16%; margin-top: 10%;
    text-align: justify;
    color: rgb(27, 27, 27);
    font-size: large;
    font-weight: 800;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
#enemigo2{
    width: 15vw; height: 8%;
    margin-left: 5vw; margin-top: 10vh;
}
#txtEnemigo2{
    margin-left: 30%; margin-top: 10%;
    text-align: justify;
    color: rgb(27, 27, 27);
    font-size: large;
    font-weight: 800;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}