h1{
    font-size: 700%
}
#div1 {
    color: rgb(255, 99, 177);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#fotito{
    width:90vw; height:60vh;
    display: block; /* Ensure block-level behavior */
  margin-left: auto;
  margin-right: auto;
}
